/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used >>>>>>>>>>>>>>>>>>>>>>>>>>>

Text Color (Dark Gray): #1f1313;
Primary Color (Dark Purple): #3d0264;
Secondary Color (Light Purple): #784bd6;
Tertiary Color (Pink): #f071b1;
Boxes Color: #e6e6fa;
*/

/*
Setting the default width of all elements to include
the padding and the border.
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Main body and headings styling.
*/
body {
  font-family: 'Poppins', sans-serif;
  color: #1f1313;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  min-height: 100vh;
  background: rgb(61, 2, 100);
  background: -o-linear-gradient(310deg, rgba(61, 2, 100, 1) 48%, rgba(255, 0, 156, 1) 97%);
  background: linear-gradient(140deg, rgba(61, 2, 100, 1) 48%, rgba(255, 0, 156, 1) 97%);
}

main {
  padding: 200px 0;
}

h1 {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  font-size: 32px;
}

h2 {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  font-size: 26px;
}

h3 {
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  font-size: 20px;
}

.heading--light {
  color: #e6e6fa;
}

/*
Link and link states styling.
*/
a {
  color: #784bd6;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

a:visited {
  color: #3d0264;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

a:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

a:active {
  color: #f071b1;
}

/*
Button and button states styling.
*/
button {
  border: none;
  font-family: inherit;
  background-color: #3d0264;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #3d0264;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.back-to-top__button {
  border: none;
  font-family: inherit;
  background-color: #3d0264;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.back-to-top__button {
  background-color: #e6e6fa;
  color: #3d0264;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.back-to-top__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.back-to-top__button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button:visited {
  color: white;
}

/*
Page header styling, flexbox.
*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 60px;
  margin-bottom: 60px;
  background-color: #e6e6fa;
  opacity: 0.5;

  /* border-bottom: 4px solid var(--primary-color); */
  position: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 70px;
  flex: 0 1 70px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-header__item-logo {
  width: 100%;
}

/*
Navigation list styling.
*/
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list a {
  text-decoration: none;
  font-size: 20px;
}

.navigation-list__item--active {
  font-weight: 700;
}

/*
Footer styling.
*/
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.find-me-text {
  font-style: italic;
  color: white;
}

.back-to-top {
  margin: 30px 0;
}

/*
Profile section styling, floating.

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: var(--border-radius-circle);
}

.profile__intro {
    text-align: center;
}
*/

/*
Profile section styling, flexbox.
*/
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
  padding: 50px 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e6e6fa;
  border-radius: 50px;
}

.profile__portrait {
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile__intro {
  text-align: center;
  max-width: 600px;
}

.box-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
Table styling
*/
table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
}

td {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
}

th {
  background-color: #3d0264;
  color: white;
}

td {
  background-color: #e6e6fa;
}

/*
About page styling, flexbox
*/
.about {
  width: 60%;
  margin: auto;
  text-align: center;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 50px;
  padding: 50px;
}

.about__item {
  margin-bottom: 50px;
}

.about-me-text {
  max-width: 850px;
}

.credit {
  font-size: 12px;
  font-style: italic;
}

/*
Project list styling, grid and fallback.
*/

/* Start grid fallback */
.project-list__item {
  display: inline-block;
  width: 33%;
}

/* End grid fallback */

.projects {
  text-align: center;
  margin: auto;
  width: 60%;
}

@supports (display: grid) {
  .project-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 0;
  }

  .project-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #e6e6fa;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }
}

.project-list__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.project-detail__btn {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.project {
  display: block;
  text-align: left;
}

.project-img>img {
  width: 80%;
  border-radius: 10px;
}

.project-img {
  text-align: center;
  margin: 30px auto;
}

.portrait-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.portrait-img>img {
  width: 45%;
}

/*
Responsive design rules
*/
@media all and (max-width: 1200px) {
  .projects {
    width: 80%;
  }

  .project-list {
    grid-gap: 10px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }

  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
  }

  .profile__portrait {
    width: 200px;
    margin: auto;
  }

  .profile__intro {
    max-width: 400px;
  }

  .about {
    width: 90%;
  }

  .about__item {
    margin-bottom: 20px;
  }

  .city-animation {
    width: 100%;
  }

  .contact-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contact__item {
    min-width: 100%;
  }

  #contact-form {
    margin-bottom: 50px;
  }
}

@media all and (max-width: 700px) {
  main {
    padding: 250px 0;
  }

  .project-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact {
    min-width: 90%;
  }

  .navigation-list li {
    display: block;
  }

  th,
  td {
    padding: 10px;
    font-size: 16px;
  }

  .project-img>img {
    width: 100%;
  }
}

@media all and (min-width: 700px) and (max-width: 1200px) {
  .project-list {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

/*
Animations
*/
@-webkit-keyframes color-change-sun {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change-sun {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-name: color-change-sun;
  animation-name: color-change-sun;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/*
  Shorthand

  .sun {
    animation: 4s color-change infinite alternate linear;
  }
  */

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    fill: #3646a3;
  }

  to {
    -webkit-transform: translate(200px, -10px);
    transform: translate(200px, -10px);
    fill: #3d0264;
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    fill: #3646a3;
  }

  to {
    -webkit-transform: translate(200px, -10px);
    transform: translate(200px, -10px);
    fill: #3d0264;
  }
}

.cloud-front {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: cloud-move;
  animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/*
  Shorthand

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }
  */

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(-300px, 5px);
    transform: translate(-300px, 5px);
    fill: #3646a3;
  }

  to {
    -webkit-transform: translate(50px, 5px);
    transform: translate(50px, 5px);
    fill: #3d0264;
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(-300px, 5px);
    transform: translate(-300px, 5px);
    fill: #3646a3;
  }

  to {
    -webkit-transform: translate(50px, 5px);
    transform: translate(50px, 5px);
    fill: #3d0264;
  }
}

.cloud-back {
  -webkit-animation: 20s cloud-move-reverse infinite alternate linear;
  animation: 20s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes color-change-church {
  0% {
    fill: #3646a3;
  }

  50% {
    fill: #3d0264;
  }

  100% {
    fill: #784bd6;
  }
}

@keyframes color-change-church {
  0% {
    fill: #3646a3;
  }

  50% {
    fill: #3d0264;
  }

  100% {
    fill: #784bd6;
  }
}

.tyn-church {
  -webkit-animation: 8s color-change-church infinite alternate linear;
  animation: 8s color-change-church infinite alternate linear;
}

.contact {
  width: 60%;
  margin: auto;
  text-align: center;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
  padding: 50px;
  background-color: #e6e6fa;
  border-radius: 50px;
}

.standard-label {
  font-weight: 700;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
}

textarea {
  height: 200px;
}

.contact__item {
  width: 40%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.required::after {
  content: " *";
  color: #f071b1;
}